
.heading{
  color: #000;
font-family: Manrope;
font-size: 24px;
font-weight: 600;
letter-spacing: 0.72px;
margin: 10px;
}
.box-wrap{
  display: flex;
  justify-content: space-around;
  gap: 10vh;
}
.box-comp{
  width: 621px;
height: 388px;
border-radius: 8px;
 background: #FAFAF8;

}
